doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Informaci&oacute;
  // Enllaços a documents CSS
  link(rel='stylesheet' href='./stylesheets/info.css')
  link(rel='stylesheet' href='./stylesheets/estils.css')
  // Enllaç a document JavaScript
  script(src='info.js')
// Header y menú de navegación de la página
.menu-header
  nav
    a.logo(href='calendari')
      canvas#logo(width='90' height='80')
    ul
      li
        a.menu-options(href='calendari') CALENDARI
      li
        a.menu-options(href='informacio') INFORMACI&Oacute;
      li
        a.menu-options(href='serveis') SERVEIS
// Contingut de la pàgina
br
br
br
.contingut-text
  h1 Qu&egrave; son els bancs del temps?
  p
    | El Banc de Temps promou l&apos;intercanvi de serveis i coneixements usant el temps com a forma de pagament,
    | no importa quin sigui el servei intercanviat. L&apos;objectiu final d&apos;aquests intercanvis &eacute;s crear una xarxa
    | d&apos;ajuda m&uacute;tua i contribuir a cobrir certes necessitats de les persones usu&agrave;ries que formen el Banc del Temps
  p
    | El Banc de Temps &eacute;s obert a tothom i pret&eacute;n millorar la qualitat de vida, crear un espai d&apos;intercanvi de temps,
    | on es contribueixi a afavorir el canvi d&apos;estereotips tradicionals. Desenvolupar una actuaci&oacute; a la nostre societat que
    | afavoreixi la conciliaci&oacute; de la vida personal, familiar i laboral, fent part&iacute;cip a tota la ciutadania.
  video#video(autoplay='' controls='' oncanplay='iniciVideo()' autobuffer='true' width='750px' height='421px')
    source(src='./images/banc_temps.mp4' type='video/mp4')
// Enllaç a document JavaScript
script(src='./javascripts/estils.js')
