doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Inici
  // Enllaços a documents CSS
  link(rel='stylesheet' href='../stylesheets/estils.css')
  link(rel='stylesheet' href='../stylesheets/calendari.css')
  // Enllaç a document JavaScript
  script(src='../javascripts/calendari.js')
// Header y menú de navegación de la página
.menu-header
  nav
    a.logo(href='inici')
      canvas#logo(width='90' height='80')
    ul
      li
        a.menu-options(href='inici') Inici
      li
        a.menu-options(href='informacio') Informació
      li
        a.menu-options(href='serveis') Serveis
      li
        a.menu-options(href='contacte') Contacte
// Contingut de la pàgina
.contenedor-flex
  #container
    #header
      #monthDisplay
      #nextBack-container
        button#backButton
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' style='fill: white')
            title arrow-left
            path(d='M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z')
        button#nextButton
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' style='fill: white')
            title arrow-right
            path(d='M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z')

    #weekdays
      div 
        p Dilluns
      div 
        p Dimarts
      div 
        p Dimecres
      div 
        p Dijous
      div 
        p Divendres
      div 
        p Dissabte
      div 
        p Diumenge
    #calendar-container
      #calendar
  #newEventModal
    h2 Nou esdeveniment
    p Selecciona la activitat que vols oferir o rebre:
    select#eventTitleInput(name='serveis' style='padding: 10px; border-radius: 10px;')
      option(value='Fútbol' selected='') Fútbol 
      option(value='Basket') Basket 
      option(value='Tennis') Tennis
      option(value='Escacs') Escacs
      option(value='Anglès') Anglés
      option(value='Cuina') Cuina
    p(style='margin-top: -5px') Vols oferir o rebre el servei?
    select#opcioOferirRebre(name='serveis')
      option(value='Oferir' selected='') Oferir 
      option(value='Rebre') Rebre 
    p Hora:
    select#time(name="hora")
      each hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
        each minute in ['00', '15', '30', '45']
          - var time = ("0" + hour).slice(-2) + ":" + minute
          option(value=time)= time
    p Missatge:
    textarea#descripcio(maxlength="180")
    #botonsEsdeveniment
      button#saveButton(type='button') Guardar
      button#cancelButton(type='button') Cancel·lar
  #llegenda-container
    p#usuari
    #llegenda
      p Llegenda:
      p(style='margin-top: -1px')
        span
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' style='fill: #1bb6f8' )
            title square-rounded
            path(d='M8 3H16C18.76 3 21 5.24 21 8V16C21 18.76 18.76 21 16 21H8C5.24 21 3 18.76 3 16V8C3 5.24 5.24 3 8 3Z')
        | Activats que s'ofereixen
      p(style='margin-top: -0.1em')
        span
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' style='fill: #8000ff')
            title square-rounded
            path(d='M8 3H16C18.76 3 21 5.24 21 8V16C21 18.76 18.76 21 16 21H8C5.24 21 3 18.76 3 16V8C3 5.24 5.24 3 8 3Z')
        | Activitats a rebre
      p(style='margin-top: -0.1em')
        span
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' style='fill: #b4b4b4')
            title square-rounded
            path(d='M8 3H16C18.76 3 21 5.24 21 8V16C21 18.76 18.76 21 16 21H8C5.24 21 3 18.76 3 16V8C3 5.24 5.24 3 8 3Z')
        | Activitats antigues
  #deleteEventModal
    h2 Esdeveniment
    p#eventText
    p#eventHora
    p#eventUsuari
    p#eventDescription
    #botonsEsdeveniment
      button#deleteButton Esborrar
      button#closeButton Tancar
  #modalBackDrop
.contenedor-flex
  a.logout(href='/login') Tanca la sessió
script(src='./javascripts/estils.js')
