doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Calendari
  // Enllaços a documents CSS
  link(rel='stylesheet' href='../stylesheets/estils.css')
  link(rel='stylesheet' href='../stylesheets/calendari.css')
  // Enllaç a document JavaScript
  script(src='../javascripts/calendari.js')
// Header y menú de navegación de la página
.menu-header
  nav
    a.logo(href='inici')
      canvas#logo(width='90' height='80')
    ul
      li
        a.menu-options(href='inici') Inici
      li
        a.menu-options(href='informacio') Informació
      li
        a.menu-options(href='serveis') Serveis
      li
        a.menu-options(href='contacte') Contacte
// Contingut de la pàgina
.contenedor-flex
  #container
    #header
      #monthDisplay
    #weekdays
      div Dilluns
      div Dimarts
      div Dimecres
      div Dijous
      div Divendres
      div Dissabte
      div Diumenge
    #calendar
  #newEventModal
    h2 Nou esdeveniment
    p Selecciona la activitat que vols oferir o rebre:
    select#eventTitleInput(name='serveis' style='padding: 10px; border-radius: 10px;')
      option(value='Fútbol' selected='') Fútbol 
      option(value='Basket') Basket 
      option(value='Tennis') Tennis
      option(value='Escacs') Escacs
      option(value='Anglès') Anglés
      option(value='Cuina') Cuina
    br
    select#opcioOferirRebre(name='serveis' style='padding: 10px; border-radius: 10px;')
      option(value='Oferir' selected='') Oferir 
      option(value='Rebre') Rebre 
    br
    input#descripcio(type='text' style='margin: 5px; width: 97%; height: 50px')
    #botonsEsdeveniment
      button#saveButton(type='button') Guardar
      button#cancelButton(type='button') Cancel·lar
  
  #deleteEventModal
    h2 Esdeveniment
    h4#eventText
    h5#eventDescription
    button#deleteButton Esborrar
    button#closeButton Tancar
  #modalBackDrop
.contenedor-flex
  a.logout(href='/login') Tanca la sessió
script(src='./javascripts/estils.js')
