@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.contenedor-flex {
  display: flex;
  margin-top: 0.2%;
  justify-content: center;
}

#container {
  border-radius: 15px;
  padding: 30px 60px 30px 60px;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: black;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#nextBack-container {
  margin-top: -0.1em;
}

#backButton, #nextButton {
  width: 40px;
  height: 40px;
  background-color: #4c8eff;
  border-radius: 75px;
  vertical-align: middle;
  display: inline-block;
  transition: 0.5s;
}

#backButton {
  margin-right: 0.4em;
}

#backButton:hover,
#nextButton:hover {
  transition: 1s;
  background-color: #0058f0;
}

#container {
  width: 970px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background: rgba(76, 142, 255, 1);
  border-radius: 7px;
  margin-bottom: 19px;
}

#weekdays div {
  width: 127px;
  display: flex;
  justify-content: center;
  margin: -4px 5px -4px 5px;
}

#calendar {
  width: 100%;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
}

#calendar-container {
  display: flex;
  justify-content: center;
}

.day {
  width: 127px;
  padding: 10px;
  height: 114px;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3.5px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s;
}

.day:hover {
  background-color: #d9ebfc;
  transition: 0.3s;
}

.day+#currentDay {
  background-color: #d9ebfc;
}

.event {
  font-size: 10px;
  padding: 3px 3px 3px 8px;
  background-color: #1bb6f8;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  height: 15px;
  text-align: left;
  line-height: 15px;
  transition: 0.5s;
}

.event:hover {
  background-color: #009adc;
  transition: 0.5s;
}

#rebre {
  background-color: #8000ff;
}

#rebre:hover {
  background-color: #6400c7;
  transition: 0.5s;
}

#old {
  font-size: 10px;
  padding: 3px;
  background-color: #b4b4b4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  height: 15px;
  text-align: center;
  line-height: 15px;
  transition: 0.5s;
}

#old:hover {
  background-color: #9a9a9a;
  transition: 0.5s;
  cursor: pointer;
}

.padding {
  cursor: default !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

#llegenda-container {
  padding-top: 7em;
  flex: 0 0 auto;
}

#llegenda {
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 0px 3.5px #CBD4C2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  row-gap: -10px;
  padding: 20px;
  width: fit-content;
  block-size: fit-content;
}

#llegenda span{
  padding-right: 1em;
  position: relative;
}

#llegenda svg {
  width: 15px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 2px;
}

#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 15px;
  width: 440px;
  top: 200px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
}

#eventTitleInput {
  padding: 10px;
  width: 97%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
  font-size: 15px;
}

#opcioOferirRebre, #time{
  box-sizing: border-box;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

#descripcio {
  box-sizing: border-box;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
  border-radius: 15px;
  margin-bottom: 20px; 
  width: 97%;
  height: 100px;
  padding: 10px;
  resize: none;
  font-family: 'Poppins', sans-serif;
}

#eventTitleInput.error {
  border: 2px solid red;
}

#botonsEsdeveniment {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botonsEsdeveniment #deleteButton {
  margin: 0px 10px 0px 0px;
}

#botonsEsdeveniment #closeButton {
  margin: 0px 0px 0px 10px;
}

#cancelButton,
#deleteButton {
  background-color: #ff3838;
  width: 35%;
  height: 40px;
  border-radius: 25px;
  transition: 1s;
  margin: 0px 0px 0px 10px;
}

#cancelButton:hover,
#deleteButton:hover {
  transition: 1s;
  background-color: #ce0000;
}

#saveButton,
#closeButton {
  background-color: #4c8eff;
  width: 35%;
  height: 40px;
  border-radius: 25px;
  transition: 1s;
  margin: 0px 10px 0px 0px;
}

#saveButton:hover,
#closeButton:hover {
  transition: 1s;
  background-color: #0058f0;
}

#eventText {
  font-size: 20px;
}

#eventDescription, #eventHora{
  font-size: 14px;
  margin: -12px 0px 25px 0px;
  line-break: anywhere;
}

#eventUsuari {
  font-size: 14px;
  display: inline;
  float: right;
  margin-top: -135px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 105%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.logout {
  text-decoration: none;
  color: white;
  width: 110px;
  background-color: #ff3838;
  padding: 13px 17px 13px 17px;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: 1s;
  font-size: 14px;
  margin-bottom: 3%;
}

.logout:hover {
  background-color: #ce0000;
}